*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
}
html{
    scroll-behavior: smooth;

}
body{
    margin: 0;
    margin-top: 10px !important;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.navigation{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    width: 80%;
}
.navigation ul{
    display: flex;
    gap: 50px;
    align-items: end;
}
.navigation ul li { 
    color: black;
    list-style-type: none;
    font-weight: 700;
    font-size: 23px;
    font-family:Arial, Helvetica, sans-serif;
    align-items: center;
}
.navigation ul li a{
    color: black;
}

.navigation ul li:hover{
    color: #ff5a1e;
    cursor: pointer;
}
.navigation ul li a:hover{
    color: #ff5a1e;
    cursor: pointer;
    text-decoration: none;
    
}
.container_box h1:hover{
    color: #ff5a1e;
    cursor: pointer;
}
.input-group{
    width: 220px ;
    height: 40px ;
    /* margin-left: 50px; */
    
}
.form-control{
    font-size: 12px;
    padding-left: 34px;
    background-image: url("./Icon/search.svg") !important;
    background-repeat: no-repeat;
    background-size: 23px ;
    background-position-y: 6px ;
    background-position-x: 190px ;
    padding: 5px !important;
}

.banner{
    margin-top: 50px;
    height: 700px;
}
/* .logo{
    margin-left: 130px;
} */
.form-control{
    height: 40px;
    width: 210px;
}
.search{
    position: absolute;
    top: 19px;

}
.container_box{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    width: 80%;
}
.product{
    width: 550px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product h1{
    font-weight: 600;
}

.product img{
    width: 534px;
    height: 320px;
    object-fit: cover;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555555;
    width: 100%;
    height: 350px;
}
.foot{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: left;
    
}
.foot ul li{
    list-style-type: none;
    align-items: left;
   
}
.foot ul li:hover{
    color: #ff5a1e;
    cursor: pointer;
}

.store{
font-family: Arial, Helvetica, sans-serif;
color: white;
display: flex;
flex-direction: column;
}
.store ul{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.dua{
    color: #CCCCCC;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px !important;
}
.title{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
}
.product2 ul li{
    width: 150px;
    height: fit-content;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
.product2 ul li a{
    color: white;
    position:absolute;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    font-weight:bolder;
    font-family: Arial, Helvetica, sans-serif;
    width: 140px;
    text-align: center;
    align-items: end;
}
.product2 ul{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.container2{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-left: 85px;
    margin-right: 85px;
    align-items: center;
    gap: 10px;
}
.product2{
    background-repeat: no-repeat;
    background-size: cover;
    width: 407px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 100%;
    position: relative;
    background-color: black;
}
.product2 ul{
    position: absolute;
    top: 20%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 50px;
}
.product2 img{
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.product2 ul li a:hover{
    color: #ff5a1e;
}
.bg img{
    width: 100%;
    margin-top: 80px;
}
.container3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 48.5px;
}
.more2{
    width: 60%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title3{
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    justify-content: center;
    text-align: center;
}
.title4 h1{
    width: 100%;
    text-align: center;
}
.product3 {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 10px;
    margin-top: 10px !important;
}
.more3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.product3 p{
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}
.product3 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    width: 300px;
    font-weight: 700;
}
.product3 img{
    width: 300px;
    height: 155px;
}
.btn{
    width: 190px;
    height: 38px;
    border-radius:0px ;
    border: none;
    background-color: #303030;
    color: #fff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display:inline-block;
}

.btnhover:hover{
    color: red !important;
}

.row{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

.content{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}